.create {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 100%;
  /* height: 104px; */
  background: #f6f6fe;
  margin: auto;
  margin-bottom: 16px;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #808080;
  border-radius: 8px;
  text-align: center;
  /* padding: 8px 72px; */
  width: 150px;
  height: 40px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btm-destroy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.output {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 10px;
  border-radius: 8px;
  padding: 32px;
  width: 100%;
  height: 104px;
  background: #f6f6fe;
  margin: auto;
}
